.grid {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.turn-highlight {
  color: red;
}
.reset{
  padding: '2rem';
  color: white;
  background-color: green;
  border: none;
  border-radius: 7px;
  width: 160px;
  height: 40px;
}